@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* header desgin start */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nev desgin start */
/* shared item */
.btn {
  color: #fff;
  background-color: #fd6e0a;
  padding: 15px 28px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
}
.btn2 {
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  padding: 15px 28px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}

.dark-2 {
  color: #474747;
}
.dark-1 {
  color: #181818;
}
.dark-3 {
  color: #757575;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 166px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: #fd6e0a;
}

nav ul li {
  list-style: none;
  margin-right: 40px;
}
nav li a {
  text-decoration: none;
}

/* bannar desgine */
.bannar {
  display: flex;
  margin: 50px 160px;
}
.bannar-contant {
  margin-top: 150px;
}
.bannar-subtitle {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}
.bannar-title {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
.des {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.bannar .img {
  width: 584px;
  height: 676px;
}

main {
  max-width: 1240px;
  margin: 0 auto;
}

.about {
  background-color: #FFF0E5;
  padding: 130px 150px;
  margin-top: 90px;
  text-align: center;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 28px;
}

.saction-des {
  font-size: 18px;
}
.about-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.about-item {
  font-size: 20px;
}
.item-descripton {
  font-weight: bold;
}

.about-me {
  margin-top: 90px;
  text-align: center;
}
.secton-title {
  margin-bottom: 28px;
}
.saction-des2 {
  font-size: 18px;
  width: 900px;
  margin: 0 auto;
}
.item-title{
    margin-bottom: 8px;
}

.skill{
  width: 267px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.skill img{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.skills-contaner{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 100px;
  justify-content: center;
}

.skill-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  

}

.skill-descption{
  font-size: 16px;
  line-height: 28px;
  

}
.my-info{
  font-size: 30px;
  font-weight: bold;
}

.detals .title11 .my-detals{
  font-size: 25px;
  font-weight: bold;
}
.my-conditon{
  font-size: 20px;
  font-weight: 500;
}

.resume-container{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  margin-bottom:80px;
  margin-top: 50px;
  text-align: center;
}

.resume-container{

}
.resume-column{
}


.resume-column-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.experience{

}

.experience-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.experience-sub-title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.experience-description{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.resume>.btn{
  display: flex;
  margin: 69px auto;

}

hr{
  color: #D1D1D1;

}

/* footer section start */
.footer-contant{
  background-color: #FFF8F3;
  display: flex;
}

.footer-title{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.paragrap{
  font-size: 16px;
  margin-bottom: 30px;
}
.column{
  margin-top: 130px;
  margin-left: 230px;
}
input{
  width: 461px;
  height: 64px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0px 20px;
}

.btn3{
  
  color: #fff;
  background-color: #fd6e0a;
  padding: 15px 28px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  margin-top: 42px;
  margin-bottom: 130px;
}